.header {
  height: 100vh;
  margin-bottom: 20vh;
}
.header-main {
  position: relative;
}
.vector {
  position: absolute;
}
.header-main_block {
  margin-top: 14vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  height: 100%;
}
.header-main_title {
  text-align: center;
}
.header-main_text {
  text-align: center;
}
.catalog-item_btn {
  position: relative;
  display: flex;
  width: 11.615vw;
}
.header-main_title {
  font-size: 6.667vw;
  line-height: 4vmax;
}
.header-main_text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.667vw;
  width: 100%;
  margin-bottom: 0.3vmax;
}
.vector {
  width: 30.052vw;
  height: 80%;
  margin-top: 0;
  left: 26.823vw;
}
@media (max-width: 420px) {
  .header{
    margin-bottom: 80px;
  }
  .header-main_title {
    font-size: 21.333vw;
  }
  .header-main_text {
    font-size: 4.8vw;
    width: 60vw;
  }
  .catalog-item_btn {
    padding: 9px 14px;
    width: 145px;
    height: 36px;
    font-size: 14px;
    gap: 12px;
  }
  .vector{
    width: 100%;
    left: 0vw;
  }
  .header-main_block {
    margin-top: 17vh;
    gap: 0;
  }
}
