.catalog-content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-catalog {
  margin-top: 5vh;
  margin-bottom: 18vh;
  z-index: 5;
}
.portfolio-item_btn {
  border: none;
}
/* catalog-content_main */
.main-services {
  margin-bottom: 18vh;
  position: relative;
}
.catalog-content_main {
  margin-top: 5vh;
  margin-bottom: 4vh;
}
.table_blur {
  border-collapse: collapse;
  width: 100%;
}
.catalog-content_botton {
  display: flex;
  justify-content: center;
}
.content-main_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5vh 1.563vw 5vh 1.563vw;
  position: relative;
  transition: all 0.5s ease;
}
.main-item_border {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.padding-no {
  padding-left: 0.521vw;
}
.padding-rigth {
  padding-right: 0;
}
.td-border {
  border-bottom: 0px !important;
  padding-bottom: 0;
}
.services-content_top,
.services_content_botton {
  display: flex;
  justify-content: center;
}
.prortfolio-content_project {
  display: grid;
  gap: 2vh;
  width: 26.25vw;
  object-fit: fill;
  position: relative;
  text-decoration: none;
}
.services-content_main {
  display: grid;
  gap: 2.25vw;
}
.image-block_project {
  position: relative;
  width: 26.25vw;
}
.content-main_top {
  display: flex;
  justify-content: space-between;
  gap: 2.25vw;
}
.content-main_botten {
  display: flex;
  gap: 2.25vw;
}
.block-white_text {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 38%;
  color: white;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr";
  font-weight: 600;
  font-size: 1.667vw;
  text-align: center;
}
.text-project {
  top: 45% !important;
}
.block-white_text:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.4s ease-in-out;
}
.prortfolio-block_white:hover {
  .block-white_text:hover:after,
  .block-white_text:focus:after {
    width: 100%;
  }
}
.main-services_content {
  display: grid;
  gap: 5vh;
}
.services-content_project {
  position: relative;
}
/* main-instrumentation */
.main-instrumentation {
  margin-bottom: 18vh;
  position: relative;
}
.content-top_title {
  text-align: center;
}
.instrumentation-content_botton {
  margin-top: 6vh;
  display: flex;
  align-items: center;
  gap: 3.125vw;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.instrumentation-botton_text {
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: white;
  width: 750px;
}
.image-inst {
  object-fit: contain;
  width: 39.063vw;
}
@media (max-width: 769px) {
  .main-item_btn {
    padding: 0.6vh 0.3vw;
    margin-top: 0;
  }
}
@media (max-width: 420px) {
  .prortfolio-content_project {
    width: 91vw;
    height: 92px;
    position: relative;
  }
  .services-content_project {
    width: 91vw;
    height: 92px;
    position: relative;
  }
  .block-white_text {
    font-size: 18px;
    top: 25%;
    left: 15%;
    width: 256px;
  }
  .text-project {
    top: 25% !important;
  }
  .main-way_block {
    display: flex;
    justify-content: space-between;
  }
  .btn-fil {
    border: none;
    background: none;
    color: white;
    font-family: "Futura PT";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.95px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .no-flex {
    display: none;
  }
  .main-item_border {
    border: none;
    padding: 0;
  }
  .padding-no {
    padding: 0 !important;
  }
  .instrumentation-content_top .content-top_title {
    width: 210px;
    font-size: 28px;
    line-height: 33.6px;
    text-align: left;
  }
  .main-instrumentation_content {
    width: 91vw;
  }
  .instrumentation-content_botton {
    display: grid;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    margin-top: 16px;
  }
  .instrumentation-botton_text {
    width: 91vw;
  }
  .image-inst {
    width: 100%;
    height: 180px;
  }
  .services-content_top .content-top_title {
    width: 80%;
    text-align: center;
    line-height: 32.4px;
    font-size: 28px;
  }
  .content-main_top {
    display: grid;
  }
  .services-content_main {
    width: 91vw;
  }
  .content-main_botten {
    display: grid;
  }
  .image-block_project {
    width: 100%;
    height: 92px;
  }
  .image-block_white {
    width: 91vw;
    height: 92px;
    object-fit: cover;
  }
  .portfolio-item_btn {
    width: 190px;
  }
  .table_blur,
  .content-main_block {
    width: 91vw;
  }
  .mar-bot{
    margin-bottom: 6.667vw;
  }
  .mob-block {
    display: flex;
    flex-wrap: wrap;
    gap: 6.667vw;
  }
  .content-main_item {
    border: 0;
    width: 42.133vw;
    padding: 0;
    gap: 12px;
  }
  .block-image{
    width: 100%;
  }
  .main-item_img{
    width: 42.133vw;
  }
  .main-item_title{
    height: 51px;
  }

}
