.header {
  height: 98vh;
}
.vector {
  opacity: 0;
}
.ligh_text {
  width: 90%;
  left: 5%;
}
.main-services {
  margin-top: 18vh;
}
.instrumentation-mar {
  margin-top: 0;
  border-top: 0;
}
.intr-image {
  width: 39.063vw;
  height: 39.931vh;
  object-fit: cover;
}
.intr-image2 {
  width: 39.063vw;
  height: 34.671vh;
  object-fit: cover;
}
.intr-image3{
  width: 39.063vw;
  height: 39.731vh;
  object-fit: cover;
}
.intr-image4{
  width: 39.063vw;
  height: 37.4vh;
  object-fit: cover;
}
.instrumentation-botton_title {
  font-family: "Futura PT";
  font-size: 1.667vw;
  font-weight: 600;
  line-height: 3.8vh;
  text-align: left;
  color: white;
  margin-bottom: 2vh;
  text-transform: uppercase;
  width: 39.063vw;
}
.border-teg {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}

.instrumentation-botton_title-min {
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 900;
  line-height: 2.5vh;
  text-align: left;
  color: white;
  margin-bottom: 2.8vh;
}
.instrumentation-botton_ul {
  display: grid;
  gap: 16px;
}
/* otherservices*/
.otherservices {
  margin: 18vh 0;
  position: relative;
}
.main-otherservices_content {
  display: grid;
  justify-items: center;
}
.otherservices-content_top {
  display: grid;
  justify-content: center;
  width: 83vw;
}
.otherservices-content_main {
  width: 35.417vw;
  margin-top: 6vh;
  display: grid;
  gap: 2.5vh;
}
.otherservices_item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 16px;
  text-decoration: none;
}
.otherservices_item:hover {
  .item_link {
    border: 2px solid rgba(255, 255, 255, 1);
  }
}
.otherservices-item_title {
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: white;
}
.item_link {
  border: 2px solid rgba(255, 255, 255, 0.6);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-customers {
  margin: 18vh 0;
}

.main-customers .content-main_item .block-image {
  height: 80%;
  display: grid;
  justify-content: center;
  align-content: center;
}
.main-customers .content-main_item .main-item_title {
  height: 88px;
  width: 17vw;
}
.main-customers .content-main_item .main-item_img {
  height: 90%;
}
.gaz-logo {
  margin-top: -5px;
}
.main-customers .content-main_item {
  height: 20.5vmax;
  gap: 0.5vh;
}
/* main-awards */
.main-awards {
  margin: 18vh 0;
}
.main-awards .content-top_title {
  width: 100%;
  z-index: 3;
}
.awards-content_botton {
  display: flex;
  justify-content: center;
}
.awards-content_main {
  z-index: 3;
  display: flex;
  align-items: center;
  margin: 6vh 0 6vh 0;
  gap: 3vh;
}
.image-awards {
  width: auto;
  height: 18vmax;
  filter: grayscale(1);
  transition: transform 0.5s ease, filter 0.5s ease;
}
.active-image_awards {
  width: 18.75vw;
  height: 26.5vmax;
  filter: grayscale(0);
  object-fit: contain;
}

@media (max-width: 48em) {
  .block-white_text {
    font-size: 3vw;
    top: 25%;
    left: 24vmin;
    width: 45vw;
  }
  .main-instrumentation_content {
    width: 100%;
  }
  .main-services {
    margin: 90px 0;
  }
  .main-instrumentation {
    margin: 80px 0;
  }
  .main-partners {
    margin: 80px 0;
  }
  .image-inst {
    order: 2;
  }
  .instrumentation-botton_block {
    order: 1;
    width: 91vw;
  }
  .intr-image {
    width: 100%;
    height: 18.557vmax;
    object-fit: cover;
    order: 2;
  }
  .instrumentation-botton_title {
    font-size: 18px;
    width: 100%;
  }
  .instrumentation-botton_title-min {
    font-size: 14px;
    font-weight: 400;
  }
  .instrumentation-mar {
    margin-top: 32px;
    width: 91vw;
  }
  .instrumentation-botton_ul {
    width: 100%;
  }
  .main-otherservices_content {
    justify-items: left;
  }
  .otherservices-content_main {
    width: 91vw;
  }
  .main-customers {
    margin: 80px 0;
  }
  .otherservices-content_top {
    justify-content: center;
  }
  .otherservices .content-top_title {
    width: 100%;
  }
  .main-customers .content-top_title {
    width: 100%;
  }
  .main-customers .catalog-content_main {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 24px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .main-customers .content-main_block,
  .main-customers .table_blur tbody {
    width: 91vw;
    display: flex;
    flex-wrap: nowrap;
  }
  .main-customers .mob-block {
    flex-wrap: nowrap;
  }
  .main-customers .main-item_border {
    width: 91vw;
  }
  .main-customers .content-main_item {
    width: 91vw;
    height: 173px;
    gap: 0;
  }
  .main-customers .content-main_item .main-item_img {
    width: 90%;
  }
  .main-customers .content-main_item .main-item_title {
    width: 100%;
    font-size: 14px;
    margin-top: 0;
  }
  .main-content_btn {
    display: flex;
    gap: 20px;
  }
  .btn-arror_rigth,
  .btn-arror_left {
    width: 43px;
  }
  .main-awards .awards-content_main {
    margin-left: 0;
  }
  .awards-content_main {
    margin-bottom: 16px;
    margin: 6vh 0 4vh 0;
    justify-content: center;
  }
  .reward-content_main {
    margin: 6vh 0 4vh 0;
  }
  .main-awards .otherservices-content_top {
    justify-content: center;
  }
  .main-awards .content-top_title {
    text-align: center;
  }
  .image-awards,
  .active-image_awards {
    width: 37.333vmax;
    height: 48.412vmax;
  }
  .main-customers .content-main_block {
    height: 173px !important;
    width: 91vw;
    overflow: hidden;
    position: relative;
  }
  #catalog-table {
    display: flex;
    transition: transform 0.5s ease;
  }
  #catalog-table tr {
    display: flex !important;
    flex-direction: row !important;
    gap: 0;
  }
  #catalog-table td {
    width: 100% !important;
    height: 173px !important;
    position: relative;
  }
  .main-customers .content-main_item .block-image,
  .yo-logo {
    height: 62px;
  }
}
