* {
  margin: 0;
  padding: 0;
}
body {
  background: #101010 !important;
}
.container-fluid {
  width: 83.333vw !important;
  margin: 0 auto;
  padding: 0 !important;
}
.main-container {
  width: 90%;
  margin-left: 9.375vw;
}
.header {
  overflow:visible;
  margin-top: 2vh;
  height: 93vh;
}
.Logo {
  width: 10.313vw;
}
.svg-image{
  width: 0.99vw;
}
.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  gap: 1.25vw;
}
.header-top_burger {
  display: flex;
  justify-content: space-between;
  gap: 5.885vw;
}
.header-link {
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 0.938vw;
  display: inline-block;
  line-height: 2.5;
}
.header-link:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.4s ease-in-out;
}
.header-link:hover:after,
.header-link:focus:after {
  width: 100%;
}
.header-link:hover {
  color: white;
}
.dropdown-btn {
  display: flex;
  align-items: center;
  padding: 1.2vh 1.25vw;
  gap: 0.833vw;
  border: none;
}
.burger-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5vw;
}
.dropdown:hover .dropdown-menu {
  display: block;
  inset: 6.03vh auto auto 0;
  z-index: 5 !important;
}
.sorting_text {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 0.938vw;
}
.dropdown-item {
  color: rgba(16, 16, 16, 1);
  font-family: "HelveticaNeueCyr" !important;
  font-weight: 400 !important;
  font-size: 0.938vw !important;
  height: 48px;
  display: grid;
  align-content: center;
  padding: 0 !important;
  padding-left: 0.833vw !important;
}
.dropdown-menu {
  width: 10.521vw;
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  z-index: 100 !important;
}

.header-contacts_tel {
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  font-size: 1.042vw;
}
.header-contacts_address {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 0.833vw;
  color: white;
}
/* header-main */
.header-main {
  margin-top: 3vmax;
  height: 73vh;
  display: grid;
  justify-items: center;
  align-content: space-between;
}
.header-main_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header-main_title {
  color: white;
  width: 38.594vw;
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 2.708vw;
  text-transform: uppercase;
  line-height: 6.24vh;
}
.header-main_text {
  width: 25.365vw;
  font-family: "Futura PT";
  font-weight: 400;
  font-size: 1.042vw;
  color: white;
}
.header-down {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 8px;
}
.vector {
  width: 100%;
  height: 43.6vh;
  object-fit: contain;
  margin-top: 60px;
}

/* main */
.main {
  overflow: hidden;
  position: relative;
}
.main_fon {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.main-catalog {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 18vh;
  margin-bottom: 18vh;
}
.image-catalog {
  display: none;
  width: 53.333vw;
  height: 100%;
  object-fit: cover;
}
.image-active {
  display: flex;
}
.image-btn{
  position: relative;
}
.main-catalog_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 124px;
}
.main-catalog_items {
  display: grid;
  gap: 2.6vh;
  z-index: 0;
}
.catalog-item_btn {
  position: absolute;
  display: none;
  align-items: center;
  border: none;
  gap: 0.833vw;
  font-size: 0.938vw;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1.2vh 1.667vw;
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(124, 10, 77, 1);
}
.item-btn_active {
  display: flex;
}
.catalog-item_btn:hover {
  box-shadow: 4.5px 0px 15px 3px rgba(255, 255, 255, 0.178);
}
.dropdown-btn:hover{
  box-shadow: 4.5px 0px 15px 3px rgba(255, 255, 255, 0.178);
}
.btn_arror-left {
  display: grid;
}
.arror-left {
  font-size: 0.938vw;
  width: 2.604vw;
}
.texts-fon {
  width: 6vw;
  display: grid;
  gap: 2vmax;
}
.text-fon {
  width: 14vw;
  height: 100%;
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 2.708vw;
  color: white;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: transparent;
  line-height: 6.21vh;
  text-transform: uppercase;
  text-align: left;
  border: none;
  background: none;
  z-index: -1;
}
.active-text {
  -webkit-text-fill-color: white;
  z-index: 1;
}
.main-catalog_btn {
  display: grid;
  margin-top: 4.4vh;
  margin-bottom: 4.4vh;
  justify-items: end;
  align-content: space-between;
}
.catalog-btn_text {
  text-align: right;
  width: 7.24vw;
  line-height: 1.99vh;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 1.042vw;
  color: white;
}
.catalog-btns {
  display: grid;
  gap: 2.4vh;
}
.catalog-btn {
  background: none;
  border: none;
  display: inline-flex;
}

/* portfolio */
.main-portfolio {
  margin-bottom: 18vh;
  position: relative;
  z-index: 3;
}
.main-portfolio_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.portfolio-top_title {
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 2.708vw;
  color: white;
  text-transform: uppercase;
}
.portfolio-item_btn {
  display: flex;
  align-items: center;
  gap: 0.833vw;
  font-size: 0.938vw;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1.2vh 1.667vw;
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(124, 10, 77, 1);
  letter-spacing: 2px;
}
.portfolio-item_btn:hover {
  box-shadow: 4.5px 0px 15px 3px rgba(255, 255, 255, 0.178);
}
.main-portfolio_main {
  margin-top: 6vh;
  height: 52.7vh;
  display: flex;
  gap: 4.9vh;
  overflow: hidden;
}
.btn-arror {
  border: none;
  background: none;
}
.main-content_btn {
  display: flex;
  gap: 1.6vh;
}
.btn-arror_left {
  width: 36px;
  font-size: 0.233vw;
}
.btn-arror_rigth {
  width: 36px;
  font-size: 0.238vw;
}
.main-content_text {
  text-transform: uppercase;
  color: white;
  text-align: left;
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 1.667vw;
  width: 18.333vw;
  line-height: 3.84vh;
}
.portfolio-main_content {
  display: grid;
  align-content: space-between;
}
.main-content_more {
  display: flex;
  align-items: center;
  gap: 1.6vh;
  font-family: "Futura PT";
  font-weight: 400;
  font-size: 0.938vw;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
}
.main-content_more:hover {
  color: rgba(255, 255, 255, 0.5);
  transform: 500ms;
}
.btn-arror_rigth:hover {
  color: rgba(255, 255, 255, 0.5);
}
.portfolio_main-image {
  display: flex;
  gap: 4.9vh;
  overflow: hidden;
}
.portfolio-image {
  width: 100%;
  height: 52.7vh;
  object-fit: cover;
}
/* contacts */
.main-contacts {
  margin: 18vh 0;
  position: relative;
}
.main-contacts_top {
  display: grid;
  justify-content: center;
  text-align: center;
}
.contacts-top_text {
  color: white;
  width: 17.76vw;
  margin-top: 2vh;
}
.main-contacts_main {
  display: flex;
  justify-content: space-between;
  margin: 6vh 0;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 2.6vh;
}
.main-contacts_main .city-block_title {
  width: 18.49vw;
}
.map {
  width: 100%;
}
/* advantages */
.main-advantages{
  z-index: 2;
}
.main-advantages_items {
  height: 51vh;
  overflow: hidden;
  margin-top: 4vh;
}
.main-advantages_item {
  display: flex;
  justify-content: space-between;
  height: 51vh;
}
.advantages-item_content {
  display: grid;
  gap: 2.604vw;
  align-content: space-between;
  justify-items: right;
}
.item-content_text {
  width: 18.385vw;
}
.image-advan {
  width: 39.271vw;
  height: 100%;
  z-index: 3;
}
.item_title {
  width: 18vw;
  font-size: 1.667vw;
  color: white;
  font-family: "Futura PT";
  font-weight: 600;
  text-transform: uppercase;
}
.advantages-item_title {
  display: grid;
  align-items: center;
}
.item-content_text {
  color: white;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 1.042vw;
}
.item-content_numder {
  color: white;
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 2.708vw;
  height: 42px;
  display: flex;
  align-items: center;
}
.numder-small {
  color: white;
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 1.458vw;
}
.arr-up {
  font-size: 0.238vw;
  width: 16px;
  height: 40px;
}
.arr-down {
  font-size: 0.238vw;
  width: 16px;
  height: 40px;
}
/* footer */
.footer-logo {
  display: grid;
  justify-items: right;
  width: 12.5vw;
}
.fo-Logo {
  width: 12.188vw;
  margin-bottom: 8px;
}
.fo-text {
  text-align: left;
  color: white;
  width: 9.844vw;
  font-size: 0.729vw;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
}
.footer-block {
  margin-top: 28px;
  display: flex;
  gap: 7.083vw;
}
.footer-down_seo {
  width: 9.583vw;
  display: flex;
  gap: 24px;
}
.footer-down {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 2.5vh;
}
.footer-down_logord {
  font-size: 0.833vw;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
}
.seo_link {
  text-decoration: none;
  width: 28px;
  height: 28px;
}
.logord-text {
  font-size: 0.938vw;
  font-family: "HelveticaNeueCyr";
  font-weight: 900;
  color: white;
}
.logord {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-logo_ages {
  margin-left: 2.865vw;
  margin-top: 4vh;
}
.logo-ages {
  width: 4.792vw;
}
.footer-top {
  width: 12.5vw;
}
.footer-main {
  margin-top: 5.6vh;
}
.footer-links_title {
  font-size: 1.042vw;
  font-family: "Futura PT";
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
.footer-links {
  display: grid;
  gap: 2vh;
}
.footer-links_link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.833vw;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  text-decoration: none;
}
.footer-main {
  display: flex;
  gap: 7.083vw;
}
.footer-contacts_city {
  display: flex;
  gap: 3.125vw;
}
.logord-svg {
  width: 1.667vw;
}
.city-block {
  display: grid;
  gap: 12px;
}
.city-block_title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  text-decoration: none;
  font-size: 0.833vw;
}

.btn-links_title {
  border: none;
  background: none;
  height: 26px;
  margin-bottom: 3.6vh;
}
/*backlight*/
.main-catalog_backlight {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: -17vw;
  right: -330px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.4);
  box-shadow: -250px 270px 300px 200px rgba(177, 177, 177, 0.4);
  z-index: -3;
  border: none;
}
.main-advantages_backlight {
  position: absolute;
  width: 5px;
  height: 5px;
  right: -350px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.4);
  box-shadow: -350px 70px 310px 220px rgba(177, 177, 177, 0.7);
  z-index: -3;
  border: none;
}
.main-portfolio_backlight {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 1800px;
  left: -450px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.3);
  box-shadow: 320px 270px 320px 200px rgba(177, 177, 177, 0.3);
  z-index: -3;
  border: none;
}
.main-portfolio .main-portfolio_backlight {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 100px;
  left: -450px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.3);
  box-shadow: 420px 70px 350px 200px rgba(177, 177, 177, 0.7);
  z-index: -3;
  border: none;
}
.main-contacts_backlight {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 660px;
  left: -950px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.3);
  box-shadow: 420px 270px 320px 200px rgba(177, 177, 177, 0.3);
  z-index: -3;
  border: none;
}
.main-services_backlight{
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: -800px;
  right: -330px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.4);
  box-shadow: -250px 270px 250px 160px rgba(177, 177, 177, 0.7);
  z-index: -3;
  border: none;
}
.main-instrumentation_backlight{
  position: absolute;
  width: 5px;
  height: 5px;
  top: 850px;
  right: -50px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.4);
  box-shadow: 20px 70px 300px 250px rgba(177, 177, 177, 0.7);
  z-index: -3;
  border: none;
}
.main-lighting_backlight{
  position: absolute;
  width: 5px;
  height: 5px;
  top: -80px;
  left: -100px;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 0.4);
  box-shadow: 0px 180px 350px 250px rgba(177, 177, 177, 0.4);
  z-index: -3;
}
.no-grid {
  display: grid;
}
.on-grid {
  display: none;
}
.no-flex {
  display: flex;
}
.on-flex{
  display: none;
}
@media (max-width: 420px) {
  .container-fluid {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .main-container {
    margin: 0;
    margin-left: 4.267vw !important;
    margin-right: 4.267vw !important;
    width: 91.467vw !important;
    overflow: hidden;
  }
  .header-main_block {
    display: grid;
    gap: 12px;
  }
  .header-main_title {
    width: 76.8vw;
    font-size: 7.467vw;
    line-height: 33.6px;
  }
  .header-main_text {
    width: 76.8vw;
    font-size: 4.267vw;
    line-height: 20.8px;
  }
  .vector {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .burger-btn {
    /* display: none; */
    order: 1;
  }
  .header-top_burger {
    overflow: hidden;
    display: grid;
    gap: 0;
    position: fixed;
    top: 0;
    left: -100%; /* Скрываем за пределами экрана */
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 1);
    transition: left 0.3s ease;
    padding: 2vh 14px 40px 14px;
    z-index: 5;
    overflow-y: auto;
  }
  .dropdown{
    width: 100%;
  }
  .dropdown-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 91vw;
  }
  .dropdown-item{
    font-size: 14px !important;
  }
  .sorting_text{
    font-size: 16px;
  }
  .header-top_burger.open {
    left: 0; /* Показываем меню */
  }
  .burger-content{
    display: grid;
    align-content: space-between;
    width: 91vw;
    height: 504px;
    margin-top: 30px;
    position: relative;
  }
  .header-logo {
    order: 2;
  }
  .number-mobl{
    order: 3;
  }
  .header-top {
    align-items: end;
    height: 45px;
    position: relative;
  }
  .header-contacts {
    order: 3;
  }
  .Logo {
    width: 107px;
  }
  .burger-btn {
    border: none;
    background: none;
  }
  .header-links {
    order: 1;
    display: grid;
    justify-items: center;
  }
  .header-menu {
    display: flex;
    align-items: flex-end;
    width: 100%;
    order: 2;
  }
  .navbar-nav {
    display: grid !important;
    gap: 2vh;
    text-align: center;

  }
  .header-link {
    font-size: 4.267vw;
    height: 16px;
  }
  .header-main {
    height: 81vh;
    margin-top: 40px;
  }
  .main_fon {
    object-fit: cover;
    height: 100vh;
  }
  /* portfolio */
  .main-portfolio{
    margin-bottom: 80px;
  }
  .main-portfolio_main {
    display: grid;
    margin-top: 20px;
    gap: 0;
  }
  
  .portfolio-main_content {
    order: 3;
    display: flex;
    justify-content: space-between;
    height: 36px;
  }
  .portfolio-item_btn{
   font-size: 14px;
   padding: 9px 14px;
   gap: 12px;
  }
  .portfolio_main-image {
    order: 2;
    height: 202px;
    gap: 0;
  }
  .portfolio-image {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 202px;
  }
  .main-content_text{
    position: absolute;
    bottom: 148px;
    left: 28px;
    z-index: 2;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    font-family: "HelveticaNeueCyr";
    text-transform: capitalize;
  }
  /* catalog */
  .main-catalog {
    display: grid;
    margin: 80px 0;
  }
  .main-catalog_btn {
    order: 1;
  }
  .catalog-btn_text {
    font-size: 4.267vw;
    width: 100%;
    text-align: left;
  }
  .main-catalog_items {
    order: 2;
    gap: 12px;
  }
  .text-fon {
    font-size: 24px;
    width: 288px;
    height: 58px;
    line-height: 28.8px;
    color: rgba(217, 217, 217, 1);
  }
  .main-catalog_item {
    display: grid;
    height: 100%;
  }
  .image-catalog {
    width: 100%;
    margin-top: 16px;
  }
  .image-catalog .catalog-item_btn{
    bottom: -50px;
  }
  .catalog-item_btn {
    padding: 9px 14px;
    width: 145px;
    height: 36px;
    font-size: 14px;
    gap: 12px;
  }
  .btn_arror-left {
    width: 32px;
  }
  .arror-left {
    width: 100%;
  }
  /* advantages */
  .main-advantages{
    margin-bottom: 80px;

  }
  .main-advantages .portfolio-top_title{
    text-align: center;
    line-height: 33.6px;
  }
  .main-advantages_items{
    display: flex;
    width: 100%;
  }
  .main-advantages_item{
    width: 91vw;
    display: grid;
  }
  .image-advan{
    orphans: 1;
    width: 91vw;
  }
  .advantages-item_title{
    order: 2;
    justify-content: center;
  }
  .item_title{
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  .advantages-item_content{
    order: 3;
  }
  .item-content_text{
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .catalog-btns{
    transform: rotate(90deg) ;
  }
  .main-advantages_btn{
    display: grid;
    justify-content: center;
    margin-top: 50px;
  }
  .item-content_numder {
    font-size: 16px;
    margin-top: -40px;
  }
  .numder-small{
    font-size: 16px;
  }
  /* contacts */
  .main-contacts {
    margin: 80px 0;
  }
  .main-contacts_content {
    display: grid;
    gap: 20px;
  }
  .main-contacts_top {
    display: grid;
    gap: 20px;
    width: 100%;
    justify-content: left;
    order: 1;
  }
  .portfolio-top_title {
    width: 100%;
    text-align: left;
    font-size: 24px;
  }
  .contacts-top_text {
    width: 100%;
    text-align: left;
    margin-top: 0;
    font-size: 16px;
  }
  .main-contacts_main {
    display: grid;
    order: 3;
    margin: 0;
    gap: 12px;
    font-size: 14px;
  }
  .main-contacts_main .city-block_title {
    width: 100%;
    font-size: 14px;
  }
  .main-contacts_down {
    order: 2;
  }
  .map {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .arror-left{
    width: 8.533vw;
  } 
  /* footer */
  footer{
    position: relative;
    overflow: hidden;
  }
  .footer-top {
    display: grid;
    width: 100%;
    justify-items: center;
  }
  .footer-block {
    display: grid;
    
  }
  .footer-links_title {
    cursor: pointer;
  }
  .footer-logo {
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .fo-Logo {
    width: 107px;
    margin-bottom: 16px;
    margin-left: -10px;
  }
  .fo-text {
    width: 189.79px;
    text-align: center;
    font-size: 14px;
  }
  .logo-ages {
    width: 60px;
    height: 25px;
  }
  .footer-down_seo {
    width: 100%;
    justify-content: center;
    margin-top: 32px;
  }
  .footer-down {
    display: grid;
    justify-content: center;
  }
  .footer-down_logord {
    display: grid;
    font-size: 4.375vw;
    justify-items: center;
    line-height: 19.6px;
    text-align: center;
  }
  .logord {
    gap: 8px;
  }
  .logord-text {
    font-size: 4.375vw;
    letter-spacing: 1px;
  }
  .logord-svg {
    width: 24px;
    height: 24px;
  }
  .footer-main {
    display: grid;
    gap: 20px;
  }
  .footer-links_title {
    font-size: 14px;
    cursor: pointer;
  }
  .footer-links_link {
    font-size: 14px;
  }
  .footer-links {
    gap: 1.6vh;
    margin-top: 16px;
    margin-bottom: 40px;
    display: none;
  }
  .footer-contacts_city{
    display: none;
  }
  .footer-links_active{
    display: grid;
  }
  .btn-links_title {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .arrow-drop-up,
  .arrow-drop-down {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .no-grid {
    display: none;
  }
  .on-grid {
    display: grid;
  }
  .on-flex{
    display: flex;
  }
  .no-flex {
    display: none;
  }
  .main-portfolio .main-portfolio_backlight{
    box-shadow: 420px 270px 320px 100px rgba(177, 177, 177, 0.7);
  }
  .main-instrumentation_backlight{
    top: 1100px;
    box-shadow: 20px 370px 220px 200px rgba(177, 177, 177, 0.7);
  }

  .header-top_backlight{
    position: absolute;
    width: 13vw;
    height: 38.125vh;
    background-color: rgba(31, 27, 94, 0.6);
    box-shadow: -220px 20px 170px 340px rgba(31, 27, 94, 0.6);
    left: -50px;
    z-index: -1;
  }
  .header-down_backlight{
    position: absolute;
    width: 13vw;
    height: 38.125vh;
    background-color: rgba(124, 10, 77, 0.6);
    box-shadow: -120px 20px 170px 40px rgba(124, 10, 77, 0.6);
    right: -100px;
    bottom: 0;
    z-index: -1;
  }

  .main-catalog_backlight{
    right: -350px;
    top: -265px;
  }
  .main-portfolio_backlight{
    left: -200px;
    box-shadow: -0px 220px 200px 120px rgba(177, 177, 177, 0.4) ;
  }
  .main-advantages_backlight{
    right: -420px;
    box-shadow: -250px 0px 300px 200px rgba(177, 177, 177, 0.4);
  }
  .main-contacts_backlight{
    left: -720px;
  }
  .footer-contacts_backlight{
    position: absolute;
    width: 41vw;
    height: 8vh;
    bottom:  760px;
    right: -480px;
    border-radius: 50%;
    background-color: rgba(177, 177, 177, 0.4);
    box-shadow: -280px 220px 300px 130px rgba(177, 177, 177, 0.4);
    z-index: -3;
  }
}
