/* main */
.main-product {
  margin-bottom: 18vh;
}
.main-product_content {
  display: flex;
  gap: 2.604vw;
}
.product-content_block {
  display: grid;
  justify-content: space-between;
}
.product-content_image,
.image-content {
  position: relative;
}
.image-content {
  object-fit: cover;
  width: 39.323vw;
  height: 21.587vmax;
}
.content-image_numder {
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.image-number {
  color: rgba(31, 31, 31, 1);
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
}
.image-number_square {
  font-family: "HelveticaNeueCyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: rgba(31, 31, 31, 1);
}
.content-image_block {
  display: flex;
  gap: 20px;
}
.left-arr {
  position: absolute;
  right: 84px;
  top: 50%;
  border: none;
  background: none;
}
.right-arr {
  position: absolute;
  right: 24px;
  top: 50%;
  border: none;
  background: none;
}
.btn-arr_image {
  width: 70%;
  height: 16px;
  object-fit: all;
  transform: rotate(-180deg);
  opacity: 0.5;
}
.content-section_items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.content-section_item {
  height: 3.6vh;
  padding: 1.2vh 0.833vw;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "HelveticaNeueCyr";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1px;
}
.block-main_file {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.main-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.main-border_block {
 display: flex;
}
.main-file_text {
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.93vw;
  font-weight: 400;
  text-align: left;
  margin-right: 5px;
}
.svg-file {
  width: 1.25vw;
  /* margin-bottom: 5px; */
}
.block-main_title {
  font-family: "Futura PT";
  font-size: 1.667vw;
  font-weight: 600;
  text-align: left;
  color: white;
  margin-bottom: 1vmax;
  text-transform: uppercase;
  width: 30vw;
}
.block-main_text {
  font-family: "HelveticaNeueCyr";
  font-size: 0.833vw;
  font-weight: 400;
  text-align: left;
  color: white;
  margin-bottom: 1vmax;
  width: 30vw;
}

.content-block_botton {
  width: 100%;
  display: grid;
  align-items: end;
  justify-items: start;
}
/* similar */
.main-similar_content {
  margin-bottom: 18vh;
}
.similar-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6vh;
}
.content-top_title {
  color: white;
  font-family: "Futura PT";
  font-size: 2.708vw;
  font-weight: 600;
  line-height: 62.4px;
  width: 38.854vw;
  text-align: left;
  text-transform: uppercase;
}
/* .similar-content_main {
  display: flex;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease;
} */
.content-main_item {
  display: grid;
  justify-items: center;
  width: auto;
  gap: 1.7vmax;
  z-index: 1;
}
.main-similar .swiper {
  width: 100%;
  overflow: hidden;
  margin-left: 8.3vw;
}
.swiper-button-disabled {
  pointer-events: none;
}

.main-similar .swiper .swiper-wrapper {
  display: flex;
  /* gap: 3.125vw; */
  width: auto;
  transition: transform 0.5s ease;
  
}

.main-similar .swiper .swiper-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-image {
  width: 11.979vw;
  height: 15vmax;
}
.main-item_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
.main-item_title {
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  /* line-height: 23.4px; */
  text-align: center;
  width: 13.177vw;
  height: 44px;
  color: white;
  display: grid;
  align-items: center;
  /* margin-top: 4vh; */
}
.main-item_btn {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  padding: 1.4vh 2.375vw;
  color: white;
  font-family: "Futura PT";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.833vw;
  width: 17.969vw;
  /* margin-top: 3.4vh; */
}
.main-item_btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgba(31, 31, 31, 1);
  .btn-arror_rigth {
    /* color: rgba(31, 31, 31, 1); */
    margin-top: 0.88vmin;
    /* height: 1.3vh; */
    /* width: 46px; */
  }
}
.main-content_btn {
  gap: 0.4vh;
}
.btn-arror_rigth,
.btn-arror_left {
  width: 4.167vw;
}
.portfolio-main_btn,
.bestproject-top_prev {
  display: none;
}
.product-content_btn {
  display: none;
}
.main-catalog_backlight {
  top: 350px;
  left: -240px;
  box-shadow: 100px -20px 200px 200px rgba(177, 177, 177, 0.4);
}
.button-filter {
  position: relative;
}
.btn-fil {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.833vw;
  padding: 1.2vh 1.667vw;
  background: white;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-fil_text {
  color: rgba(124, 10, 77, 1);
  font-size: 0.938vw;
  font-family: "Futura PT",sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-dropdown {
  top: calc(100% + 6px);
  left: 0;
  background: white;
  border: 1px solid rgba(124, 10, 77, 1);
  z-index: 10;
  width: 100%;
  position: relative;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid rgba(124, 10, 77, 1);
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-width: 100%;
  margin-top: 0.519vh;
}
.custom-dropdown-menu.show {
  display: block;
}
.custom-dropdown-item {
  font-size: 0.938vw;
  font-family: "Futura PT",sans-serif;
  padding: 10px;
  cursor: pointer;
  color: #414141;
}
.custom-dropdown-item:hover {
  background-color: rgba(189, 189, 189, 0.071);
  color: #313131;
}

@media (max-width: 48em) {
  .similar-content_main {
    margin-left: 4.267vw !important;
    /* gap: 4.267vw; */
  }
  .content-section_items {
    height: 100%;
  }
  .content-section_item {
    font-size: 14px;
    padding: 11px 14px;
    height: 36px;
  }
  .bestproject-top_prev {
    border: none;
    background: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Futura PT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 16px;
  }
  .main-way {
    margin-bottom: 18px;
  }

  .main-product_content {
    display: grid;
    gap: 24px;
  }
  .product-content_image {
    height: 29.706vh;
    display: grid;
    gap: 12px;
  }
  .image-content {
    width: 100%;
    height: 27.286vh;
  }
  .content-image_block {
    display: none;
  }
  .content-image_numder {
    position: relative;
  }
  .portfolio-main_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-image_numder {
    display: flex;
  }
  .image-number,
  .image-number_square {
    color: white;
    font-size: 14px;
  }
  .product-content_block {
    gap: 22px;
  }
  .block-main_title {
    width: 91vw;
    font-size: 18px;
  }
  .block-main_text {
    width: 100%;
    font-size: 14px;
  }
  .main-border_block {
    height: 28px;
    width: 170px;
  }
  .main-file_text {
    font-size: 14px;
  }
  .svg-file {
    width: 24px;
    height: 24px;
  }
  .portfolio-item_btn {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    white-space:nowrap;
  }
  .main-catalog .portfolio-top_title {
    font-size: 5.8vw;
  }
  .content-top_title {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }
  .main-content_btn {
    display: none;
  }
  .product-content_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  .main-item_img {
    width: 44.267vw;
  }
  .main-item_title {
    font-size: 14px;
    width: 44vw;
    height: 100%;
    /* line-height: 16.8px; */
    margin-top: 12px;
  }
  .main-item_btn {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }
  .content-main_item {
    border: 0;
    /* max-width: 44.4vw; */
    padding: 0;
    gap: 12px;
  }
  .main-similar .swiper {
    margin-left: 0;
  }
  .main-similar .swiper .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  .main-similar .swiper .swiper-wrapper {
    margin-left: 4.267vw !important;
    /* gap: 5.15vw; */
  }
  .block-image {
    width: 100%;
  }
  .btn-arror_rigth,
  .btn-arror_left {
    width: 43px;
  }
  .button-filter{
    order: 2;
  }
  .btn-fil{
    border: none;
    background: none;
  }
  .btn-fil_text{
    color: white;
    font-size: 14px;
  }
  .custom-dropdown{
    border: none;
    background: none;
  }
  .custom-dropdown-menu{
    border: 1px solid rgba(255, 255, 255, 0.453);
    background: #454545cf;
  }
  .custom-dropdown-item{
    font-size: 1.663vw;
    color: white;
    padding: 8px;
    /* text-align: right; */
  }
  .custom-dropdown-item:hover{
    color: rgb(215, 215, 215);
  }
}
