.header {
  height: 10.2vh;
}
.main {
  margin-top: 5vh;
}
.header-link_active::after {
  width: 100%;
}
.bestproject-top_prev {
  border: none;
  background: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Futura PT";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  align-items: center;
  display: flex;
  gap: 16px;
}
.main-portfolio {
  margin-bottom: 0;
}
.main-portfolio_main {
  margin-top: 4vh;
  display: grid;
  gap: 0px;
  width: 100vw;
}
.portfolio-main_items {
  height: 46.3vh;
  display: flex;
  gap: 1.042vw;
  transition: transform 0.3s ease;
  margin-left: -50px;
}
.portfolio-main_btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.image-item {
  width: 100%;
  height: 46.3vh;
}
.main-story_content {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}

/* story-main_title */
.main-story {
  margin: 80px 0 18vh 0;
}
.story-main_title {
  color: white;
  font-family: "Futura PT";
  font-size: 2.708vw;
  font-weight: 600;
  line-height: 6.2vh;
  text-align: left;
  text-transform: uppercase;
}
.story-main_text {
  margin-top: 3vh;
}
.main-text {
  width: 53.333vw;
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 2.52vh;
  text-align: left;
}
.main-text_ul {
  color: white;
}
/* story-content_section */
.story-content_section {
  display: grid;
  width: 25.365vw;
  height: 38.8vh;
  padding: 1.875vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.content-section_place {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}
.content-section_time {
  display: flex;
  gap: 6px;
}
.section_place,
.section_time {
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 2.52vh;
  text-align: left;
}
.section-block_title {
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 2.52vh;
  text-align: left;
}
.content-section_block {
  margin-top: 0.7vmax;
}
.content-section_items {
  margin-top: 0.8vh;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.content-section_item {
  height: 3.6vh;
  padding: 1.2vh 0.833vw;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "HelveticaNeueCyr";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1px;
}
.marker {
  width: 1.25vw;
}
.btn-num {
  display: none;
}
.toggle-button {
  display: none;
}
.main-catalog_backlight {
  left: -150px;
  top: 100px;
  box-shadow: -120px 320px 400px 160px rgba(177, 177, 177, 0.4);
}
.main-image_numder {
  display: none;
}

@media (max-width: 420px) {
  .main {
    margin-top: 20px;
  }
  .main-story_content {
    display: grid;
    gap: 28px;
  }
  .bestproject-top_prev {
    font-size: 14px;
  }
  .main-portfolio_main {
    width: 91vw !important;
    height: 204px;
    margin-top: 20px;
    margin: 0 16px;
    margin-top: 18px;
  }
  .portfolio-main_items {
    height: 176px;
    gap: 0.447vw;
    margin-left: 0;
  }
  .image-item {
    width: 91vw;
    height: 176px;
  }
  .main-btn_block {
    display: flex;
    gap: 20px;
    height: 16px;
    align-items: center;
  }
  .portfolio-main_btn {
    margin-top: 12px;
    width: 91vw;
    height: 16px;
    justify-content: space-between;
    align-items: center;
  }
  .main-image_numder {
    display: flex;
    color: white;
  }
  .btn-num {
    display: flex;
    text-align: left;
    color: white;
    font-family: "HelveticaNeueCyr";
    font-size: 3.733vw;
    font-weight: 400;
    line-height: 13.93px;
    text-align: left;
  }
  .main-story {
    margin-top: 24px;
    margin-bottom: 80px;
  }
  .story-content_main,
  .story-content_section {
    width: 91vw;
  }
  .story-content_section {
    height: 100%;
    padding: 20px 0 0 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .story-main_title {
    font-size: 18px;
    line-height: 21.6px;
  }
  .story-main_text {
    position: relative;
    max-height: 129px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .story-main_text.expanded {
    max-height: 500px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 100%,
      rgb(14, 14, 14) 100%
    );
  }
  .story-main_text::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgb(14, 14, 14) 100%
    );
    pointer-events: none;
  }
  .no-after::after {
    content: none;
  }
  .main-text {
    width: 91vw;
    font-size: 3.9vw;
    line-height: 17px;
    letter-spacing: 0.2px;
  }
  .toggle-button {
    display: flex;
    height: 24px;
    border: none;
    background: none;
    text-transform: uppercase;
    color: white;
    margin-top: 6px;
    font-family: "Futura PT";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    letter-spacing: 3px;
  }
  .content-section_place,
  .content-section_time {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .marker {
    width: 24px;
  }
  .section_time,
  .section_place {
    font-size: 14px;
  }
  .section-block_title {
    font-size: 14px;
  }
  .content-section_item {
    font-size: 14px;
    padding: 11px 14px;
    height: 36px;
  }
  .main-catalog_backlight {
    top: 420px;
    left: -60px;
    box-shadow: -120px 120px 400px 100px rgba(177, 177, 177, 0.4);
  }
}
