.main-rent {
  margin-bottom: 6vh;
}
.main-rent_content {
  display: grid;
  justify-content: center;
}
.content-top_title {
  font-family: "Futura PT";
  font-size: 2.708vw;
  font-weight: 600;
  text-align: center;
  color: white;
  width: 35vw;
  text-transform: uppercase;
}
.content-top_text {
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  text-align: center;
  width: 23.177vw;
  color: white;
}
.otherservices-content_top {
  display: grid;
  justify-items: center;
  gap: 4vmin;
}
.main-rent_content {
  gap: 4vh;
}
.block-white_text {
  width: 80%;
  left: 9%;
}
.block-input {
  display: grid;
  justify-content: space-between;
  gap: 1.25vw;
}

.input-equipment_text {
  color: rgba(218, 35, 46, 1);
  font-family: "HelveticaNeueCyr";
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 15.92px;
  text-align: left;
}
.input-equipment {
  width: 18.333vw;
  height: 5vh;
  padding: 0.521vw 0.833vw !important;
  border-radius: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 17.91px;
  text-align: left;
}
.input-equipment::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.input-equipment:focus {
  outline: none;
  border-color: white;
  color: white;
}
.custom-select {
  position: relative;
}
.select-items {
  position: absolute;
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 99;
  width: 18.333vw;
  max-height: 17.286vh;
  overflow-y: auto;
  margin-top: 0.6vh;
}
/* WebKit */
.select-items::-webkit-scrollbar {
  width: 4px;
}
.select-items::-webkit-scrollbar-track {
  background: transparent;
}
.select-items::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  height: 6.05vh; 
}
.select-items::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1); 
}

.select-item {
  height: 5vh;
  gap: 10px;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  line-height: 17.91px;
  text-align: left;
  font-size: 0.938vw;
  padding: 0.521vw 0.833vw;
  cursor: pointer;
  color: white;
  display: grid;
  align-items: center;
}
.select-item:hover {
  background: rgba(36, 36, 36, 1);
}
.select-hide {
  display: none;
}
.view-block_select {
  height: 5vh;
  width: 18.333vw;
  padding: 0.521vh 0.833vw !important;
  border-radius: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "HelveticaNeueCyr";
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 17.91px;
  text-align: left;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='arrow-drop-down' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 6.5L10 13.5L17 6.5' stroke='white' stroke-opacity='0.8' stroke-width='1.5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.042vw;
  background-color: rgba(16, 16, 16, 1);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.down-btn {
  height: 5vh;
}
.rent-content_main {
  display: grid;
  gap: 12px;
}
.input-equipment_text {
  display: none;
}
.input-equipment_active {
  display: flex;
}

.down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.833vw;
}
.down-btn .arror-left {
  filter: grayscale(1);
}
@media (max-width: 420px) {
  .content-top_title {
    width: 230px;
    font-size: 28px;
    text-align: left;
    line-height: 33.6px;
  }
  .content-top_text {
    font-size: 16px;
    text-align: left;
    width: 91vw;
  }
  .main-rent_content {
    width: 91vw;
    gap: 24px;
  }
  .otherservices-content_top {
    justify-content: left;
    justify-items: left;
    gap: 16px;
  }
  .block-input {
    display: grid;
    height: 100%;
    gap: 12px;
  }
  .input-equipment {
    width: 100%;
  }
  .view-block_select {
    width: 100%;
  }
  .input-equipment_text {
    display: grid;
    justify-content: center;
    font-size: 14px;
  }
  .prortfolio-content_project,
  .image-block_project,
  .services-content_project,
  .image-block_white {
    height: 208px;
  }
  .block-white_text {
    top: 43% !important;
  }
}
